.addButton {
  display: 0 inline-block;
  height: 75x;
  background-color: rgb(124, 83, 83);
  width: 50%;
  border-radius: 5%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  /* only for moment i must do this scalable */
}
