body {
  padding: 0;
  margin: 0;
}

.background {
  min-width: 300%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: moveBackground 150s linear infinite;
}
@keyframes moveBackground {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc((-200% / 3)));
  }
}

/* .abstract-shape {
  width: 100%;
  height: 100vw;
  background-color: #7acdff;
  transform: skewY(-20deg);
  position: absolute;
  z-index: -1;
  top: 100vh;
} */
